.card {
    position: relative;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .imageWrapper {
    position: relative;
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .playButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .playButton img {
    width: 20px;
    height: 20px;
  }
  
  .title {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    bottom: 10px;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    opacity: 0.9;
  }
  